body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;

}

html {
    overflow: hidden;
}

.brand {
    width: fit-content;
    padding: 1rem;
    background-color: rgba(7, 235, 41, 0.658);
    opacity: 0.85;
    margin-left: 3rem;
    border-radius: 1rem;
}

.brand--logo {
    font-size: 1.6rem;
    font-family: 'Open Sans';
    opacity: 1;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    z-index: 9999;
    top: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(31, 160, 24);
    padding: 1rem 0;
}

nav ul{
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    color: white;
}
nav ul li{
    padding: 0 12px;

}
.brand img{
    width: 44px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    height: 100vh;
    max-width: 100vw;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.889), rgba(0, 0, 0, 0.375)), url('./../drawables/shiddat.jpg');
    background-size: cover;
    background-repeat: no-repeat;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

}
.bottom{
    position: sticky;
    padding: 1rem 3rem 3rem;
    background-color: #fff;
    opacity: 0.8;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.icons{
    margin-top:34px;
}
#myprogressbar{
    width:80vw;
    cursor: pointer;
    background-color: rgb(31, 160, 24);
    height: 5px;
    display: flex;

    margin-top: 1rem;
    justify-content: center;
    align-items: center;

}


input[type='range'] {
    width: 50%;
    -webkit-appearance: none;
}


input[type='range']::-webkit-slider-runnable-track {
    height: 1rem;
    -webkit-appearance: none;
    margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
    width: 1rem;
    -webkit-appearance: none;
    height: 1rem;
    border-radius: 50%;
    background-color: rgb(10, 99, 0);
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.84);
}




.songItemContainer{
    margin-top: 74px;

}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 80%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem img{
    width: 43px;
    margin: 0 23px ;
    border-radius: 34px;
}
.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}




.ml-3 {
    margin-left: 2rem;
}

.mr-3 {
    margin-right: 3rem;
}

.songlist {
    align-self: left;
    justify-self: flex-start;
}

.bottom {
    height: fit-content;
    display: flex;
    position: absolute;
    bottom: 17vh;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    justify-self: flex-end;
    max-width: fit-content;

    opacity: 0.75;

    width: 85%;

    position: -webkit-sticky;
    z-index: 9999;

    /* box-shadow: 0rem 0.1rem 2rem rgba(7, 178, 15, 0.958); */

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.5s ease;
    cursor: pointer;

    padding: 3rem;
}

@media only screen and (max-width: 900px) {
    .bottom {
        bottom: 17vh;
    }
}


@media only screen and (max-width: 900px) {
    .bottom:hover {
        padding-bottom: 1.5rem
    }
}

@media only screen and (max-width: 900px) {
    .bottom:hover #myprogressbar {
        margin-top: 2.5rem;
    }
}

.bottom-inner {
    width: 94%;
}

@media only screen and (max-width: 900px) {
    .bottom-inner { 
        flex-direction: column;
   }
}

.bottom:hover {
     transform: scale(1.01); 
     bottom: 17vh;
     padding: 2rem;
     opacity: 0.75 !important;
}

@media only screen and (max-width: 900px) {
    .bottom:hover { 
        bottom: 17vh;
   }
}

.bottom:hover .btn-wrapper {
    display: flex !important;
}

.bottom:hover .songInfo {
    display: flex;
}


.bottom:hover .queue-container {
    display: flex !important;
}


.songInfo {
    color: black !important;
    /* align-self: flex-start; */
    display: block;
    margin-bottom: 1rem;

    border-radius: 1rem;
    padding: 1rem;
    padding-right: 1.5rem;
    margin-top: 0.5rem;

    display: none;

}


@media only screen and (max-width: 900px) {
    .songInfo {
        width: 100%;
    }
}

.songInfo--text {
    font-family: 'Open Sans', 'Arial Narrow', Arial, sans-serif;
    align-self: flex-start;
    font-weight: 500;
    font-size: 2rem;
    padding: 1rem 0 0.5rem 0;
}

.songInfo--sub {
    font-family: 'Open Sans', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.btn-wrapper {
    display: none !important;
}

.songInfo--icon {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 3rem;
    padding-bottom: 1rem;
    align-self:   flex-start  ;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    border-radius: 50%;
    color: black;
}



@media only screen and (max-width: 900px) {
    .songInfo--icon {
        font-size: 5rem;
    }
}




.songInfo--image {
    margin-right: 2rem;
    height: 5rem;
    width: 5rem;
    border-radius: 1rem;
    background-image: url('./../drawables/shiddat.jpg');
    background-size: cover;
}

.btn-wrapper {
    margin-top: 2.5rem;
    width: 30%;
}

#masterplay {
    transform: scale(1.3);
    transition: all 0.5s ease;
}

#masterplay:hover {
    transform: scale(1.5);
}

.fa-step-backward {
    transition: all 0.5s ease;
}

.fa-step-backward:hover {
    transform: translateX(-0.25rem);
}

.fa-step-forward {
    transition: all 0.5s ease;
}

.fa-step-forward:hover {
    transform: translateX(0.25rem);
}

@media only screen and (max-width: 1500px) {
    html {font-size: 62.5%;}
}

@media only screen and (max-width: 900px) {
    html {font-size: 56.25%;}
}

@media only screen and (max-width: 600px) {
    html {font-size: 50%;}
}

@media only screen and (min-width: 1800px) {
    html {font-size: 75%;}
}